div(class='recipe' id='keg#{recipe.keg}')
  h2.left.recipe-name
    a(href='/ontap/keg/#{recipe.keg}')= recipe.Name
  div(class='recipeDetails left')
    if (recipe.grains.length > 0)
      div(id='keg#{recipe.keg}-grains' class='left')

    if (recipe.hops.length > 0)
      div(id='keg#{recipe.keg}-hops' class='left')
  div.pourData.right
  .beer.left
    div(class='pour srm-#{recipe.srm}')
    .beaker
      .beer-foam
        .foam-1
        .foam-2
        .foam-3
        .foam-4
        .foam-5
        .foam-6
        .foam-7
    div(class='liquid srm-#{recipe.srm}' title='SRM: #{recipe.srm}')
      .bubble.bubble1
      .bubble.bubble2
      .bubble.bubble3
      .bubble.bubble4
      .bubble.bubble5
  div(class='row left')= 'ABV: ' + recipe.abv + '%'
  div(class='row left')= 'IBU: ' + recipe.ibu
  div(class='row left')= 'Yeast: ' + recipe.yeast