div(class='recipe' id='keg-#{recipe.keg}')
  h2.left.recipe-name= recipe.name
  div(class='recipeDetails left')
    div.row
      div.left= 'ABV: ' + recipe.abv + '%'
    div.row
      di.left= 'IBU: ' + recipe.ibu
    div.row
      div.left= 'Yeast: ' + recipe.yeast
    div.row
      if (recipe.grains.length > 0)
        label.left Grains:
        .grains
    div.row
      if (recipe.hops.length > 0)
        label.left Hops:
        .hops
          each hop in recipe.hops
            div.left= hop
  div.pourData.right
  .beer.left
    div(class='pour srm-#{recipe.srm}')
    .beaker
      .beer-foam
        .foam-1
        .foam-2
        .foam-3
        .foam-4
        .foam-5
        .foam-6
        .foam-7
    div(class='liquid srm-#{recipe.srm}' title='SRM: #{recipe.srm}')
      .bubble.bubble1
      .bubble.bubble2
      .bubble.bubble3
      .bubble.bubble4
      .bubble.bubble5